<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="userService" class="by.epam.training.service.UserServiceImpl">
        <property name="userDao" ref="userDaoMap"/>
    </bean>

    <bean id="userDaoMap" class="by.epam.training.dao.UserDaoMapImpl">
        <property name="dataMapService" ref="dataMapService"/>
    </bean>

    <bean id="eventService" class="by.epam.training.service.EventServiceImpl">
        <property name="eventDao" ref="eventDaoMap"/>
    </bean>

    <bean id="eventDaoMap" class="by.epam.training.dao.EventDaoMapImpl">
        <property name="dataMapService" ref="dataMapService"/>
    </bean>

    <bean id="dataMapService" class="by.epam.training.service.DataMapServiceImpl">
        <property name="maxId" value="9999"/>
    </bean>

</beans>